# Core functionality - changes here should be rare!
/src/app.py                   @ThunderKhan
/src/backend/database.py      @ThunderKhan
/src/backend/routers/auth.py  @ThunderKhan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ThunderKhan
